<main>
    <div style="margin-bottom: 50px;">
        {{#each caterogy}}
        <a href="#course{{inc @index}}"
            style="padding: 10px;border: 1px solid;color: black;margin-bottom: 50px;background-color: rgb(255, 255, 255);border-radius: 20px;">
            {{this.ten}}</a>
        {{/each}}
    </div>
    {{#each data}}
    <div id="course{{inc @index}}" class="container-course">
        <div class="title">
            <h2>{{caterogy}}</h2>
        </div>
        <div class="container">
            <div class="list-course">
                {{#each course}}
                <a href="/course/{{this.id}}" class="course">
                    <div class="course-content">
                        <img src="https://i.ytimg.com/vi/{{this.hinhanh}}/maxresdefault.jpg" alt="">
                        <p>{{this.ten}}</p>
                        <div class="course-like">
                            <p><i class="fa-solid fa-eye"></i> 12.212</p>
                            <p><i class="fa-solid fa-thumbs-up"></i> 21.211</p>
                        </div>
                    </div>
                </a>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}

</main>